/*todo: fix spotify div issues (just set a few break points), fix color contrast errors, fix heading structure alert */
/* color palette
cornflower: #678CEC
Chartruese: C8E605
pear: #BBCB50
deep purple: #64113F;
light pink: #D49BAE; 
white (text): #f5f5f5
black (text): #000000
*/ 
/*
breakpoint ides: 
1120 
*/
.skip {
    position: absolute; 
    top: -40px;
    background-color:#64113F;
}
.skip a{ 
    color: white; 
}
.skip:focus {
    top: 20px;
    border: 2px solid #cb7287;
}
nav{ 
    background-color: #678CEC; 
    font-family: "Freckle Face", system-ui;
    font-size: 200%;
    font-style: normal;
}

nav a{ 
    text-decoration: none; 
    color: white;
    display: inline;
}
nav ul { 
    margin: 0;
    padding: 5%;
    display: flex;  
    justify-content: space-around;  
    gap: 20px;
    flex-wrap: wrap;   
}
nav ul li a:hover { 
    font-style: italic;
}
body{
    background-color: #BBCB50;  
    color: #FFFFFF;
    font-family: "Freckle Face", system-ui;
    font-weight: 400;
    font-style: normal;
}
main{ 
    font-family: "Special Gothic Condensed One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
iframe{ 
    padding-right: 2%; 
    padding-left: 2%; 
}

footer { 
    background-color: #678CEC; 
    font-family: "Special Gothic Condensed One", sans-serif;
    font-size: 150%; 
    color: #FFFFFF;
    padding: 20px 20px; 
    display: flex; 
    justify-content: center;  
}
.myAlbumDisplay, .fAlbumDisplay{ 
    padding: 40px;
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    justify-content: center; 
    gap: 20px;
}
.Album{ 
    background-color: #64113F;
    border-radius: 10px;
    width: 100%; 
}
.album_title{ 
    padding: 10px; 
    font-size: 120%; 
    display: flex; 
    justify-content: center; 
    visibility: visible; 
}
.name_pick{ 
    padding: 10px; 
    font-size: 200%; 
    display: flex; 
    justify-content: center; 
}

.FAlbum {
  justify-content: center; 
  position: relative;
  width: 75%; 
  aspect-ratio: 1 / 1;
  margin: 0 auto;
}

.albumCover {
  padding-top: 30px;
  position: absolute;
  width: 100%;
  height: auto;
  display: block;
}
.myAlbumDisplay img{ 
    padding: 20px;
}

.vinyl {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1;
    visibility: hidden; 
}

.Album .needle { 
    position: absolute;
    top: 120px;
    left: 100px;
    width: 50%;
    height: auto;
    transform: rotate(80deg);
    z-index: 2;
    float: right; 
    visibility: hidden; 

}
.albumCover {
    width: 100%;
    height: auto;
    display: block;
    position: relative; 
    z-index: 3;
}

.spotify {
  position: absolute;
  display: none;
  bottom:  -1rem;   
  right: -2.5rem; 
  padding-top: 55%;   
  cursor: pointer; 
  overflow: hidden; 
}
  .vinyl.spin {
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    from { transform: rotate(0deg); }
    to   { transform: rotate(360deg); }
  }

  .flex-front {
    display: flex;
    align-items: center; 
    justify-content: center;
    padding: 20px;
  } 

  .buttons { 
    font-family: "Freckle Face", system-ui;
    width: 70%; 
    display: grid; 
    justify-items: center; 

  }
  .quiz_button {
    background-color: #64113F; 
    border: #64113F; 
    border-radius: 10px;
    color: white;
    margin: 20px;
    padding: 3rem 2rem 3rem 2rem;
    text-align: center;
    font-family: "Special Gothic Condensed One", sans-serif;
    text-decoration: none;
    display: flex;
    font-size: 32px;
  }
    .buttons:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
    }

    .quiz_button:hover {
    background-color: #D49BAE;
    }
    .PRP{ 
        flex: 1 1 45%;
        display: flex;
        justify-content: center;
        align-items: center; 
        width: 100%; 
        height: auto; 
    }
    .target-element  {
        flex: 1 1 45%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .target-element {
        position: relative;
      }
      
      .target-element .Album {
        width: 100%;
        max-width: 500px;
        height: auto;
        background-color: none; 
      }
    .instructions{ 
        grid-column: 1/-1;
        font-size: 200%;
        background-color:#678CEC;
        color: white; 
        text-align: center; 
        border-radius: 10px;

    }
    .Album:hover {
        background-color: #678CEC;
    }
    
@media screen and (min-width: 700px) {
    .myAlbumDisplay, .fAlbumDisplay{ 
        display: grid; 
        grid-template-columns: repeat(3, 1fr);
        justify-content: center; 
    }
    .flex-front{ 
        justify-content: flex-start;
    }
    .PRP{ 
        display: flex; 
        visibility: visible; 
        padding: 20px; 
    }
} 